{% include "base.html" %}

{% block css %}
{% endblock css %}

{% block content %}
<div class="container-fluid">
    <table id="pokemon" class="display table table-striped" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ndex</th>
                <th>forme</th>
                <th>total</th>
                <th>hp</th>
                <th>attack</th>
                <th>defense</th>
                <th>sp_attack</th>
                <th>sp_defense</th>
                <th>speed</th>
                <th>type1</th>
                <th>type2</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
<script src="/static/js/table.js"></script>
{% endblock %}