#viz {
    height: 500px;
}

.select2-container--default {
    margin-bottom: 30px !important;
}

#rand-button {
    margin-top: 20px;
    color: #fff;
}

#selected-pokemon {
    text-align: center;
}

#selected-pokemon img {
    width: 130px;
    height: 130px;
}

#selected-pokemon span.vs {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
}

.eevee {
    width: 100px;
    height: 100px;
    float: right;
    margin-top: 40px;
}
