html,
body {
    height: 100%;
    width: 100%;
}

#viz {
    height: 500px;
}

.select2-container--default {
    margin-bottom: 30px !important;
}

#rand-button {
    margin-top: 20px;
    color: #fff;
}

#clear-button {
    margin-top: 10px;
    color: #fff;
    font-size: 10px;
}

#selected-pokemon {
    text-align: center;
    margin-bottom: 20px;
}

#selected-pokemon img {
    width: 130px;
    height: 130px;
}

.eevee {
    width: 100px;
    height: 100px;
    margin-top: 40px;
}

figure {
    display: inline-block;
}

figure figcaption {
    font-family: 'Open Sans';
}

#radar-viz-wrapper hr {
    margin: 40px auto;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.radar-viz {
    height: 300px;
}

@media (max-width:767px) {
    .eevee {
        padding: 10px;
    }

    #result {
        padding: 20px 0 70px !important;
    }

    #selected-pokemon img {
        width: 90px;
        height: 90px;
    }

    #viz {
        height: 400px;
    }
}
