html,
body {
  height: 100%;
  width: 100%;
}


header {
    margin-top: 80px;
}

#viz {
    height: 500px;
}

.select2-container--default {
    margin-bottom: 30px !important;
}

#rand-button {
    margin-top: 20px;
    color: #fff;
}

#selected-pokemon {
    text-align: center;
    margin-bottom: 20px;
}

#selected-pokemon img {
    width: 130px;
    height: 130px;
}

.eevee {
    width: 100px;
    height: 100px;
    margin-top: 40px;
}

@media (max-width:767px) {

    .eevee {
        padding: 10px;
    }

    #result {
        padding: 20px 0 70px !important;
    }

    #selected-pokemon img {
        width: 90px;
        height: 90px;
    }
}

figure {
    display: inline-block;
}

figure figcaption {
    font-family: 'Open Sans';
}

/* ------------------- */

body {
    position: relative;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-light > .container-fluid {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 70px;
}

.bg-light hr {
  border-color: #231F20;
}

hr {
  border-color: #231F20;
  border-width: 3px;
  max-width: 50px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.no-padding {
  padding: 0;
}

.navbar-default {
  background-color: #fff;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.navbar-default .navbar-header .navbar-brand {
  color: #231F20;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-default .nav > li > a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #231F20;
}

.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}

.navbar-default.affix {
    background-color: #77AC98;
    border-color: rgba(34, 34, 34, 0.05);
}

.navbar-default.affix .navbar-header .navbar-brand {
    color: white;
}

.navbar-default.affix .navbar-header .navbar-brand:hover,
.navbar-default.affix .navbar-header .navbar-brand:focus {
    
}

.navbar-default.affix .nav > li > a,
.navbar-default.affix .nav > li > a:focus,
.navbar-default.affix .nav > li > a:focus:hover,
.navbar-default.affix .navbar-toggle,
.navbar-default.affix .navbar-header .navbar-brand {
    color: white;
}


header {
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

body {
}

header .header-content {
  text-align: center;
  padding: 0px 15px 100px;
  width: 100%;
}

header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
}

header .header-content .header-content-inner hr {
  margin: 30px auto;
}

.btn-primary {
  color: white;
  background-color: #231F20;
  border-color: #231F20;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #110F10;
  border-color: #ed431f;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-xl {
  padding: 15px 30px;
}



@media (min-width:768px) {

  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }

}

@media (max-width:767px) {
  
    body {
}


}